.resource {
    border: 1px solid #dddbda;
    min-width: 190px;
}

.allocations-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.project-container {
    margin: 3px 0;
    padding: .25rem;
}

/*** Allocations ***/
.allocation {
    padding: .25rem;
    border-radius: .25rem;
    background-color: rgba(21, 137, 238);
    opacity: .85;
    color: rgb(255, 255, 255);
    text-align: center;
    pointer-events: auto;
    cursor: grab; 
    text-overflow: ellipsis;
    top: 0px;
}

.allocation .allocation_handle {
    cursor: ew-resize;
}

.allocation .allocation_handle,
.allocation .allocation_actions {
    opacity: 0;
}

.allocation .slds-icon_container {
    margin-bottom: 1px;
}

.allocation.low-effort {
    opacity: 0.6;
}

.allocation.medium-effort {
    opacity: 0.75;
}

.allocation.high-effort {
    opacity: 0.85;
}

.allocation.project-one {
    background-color: rgb(75, 202, 129);
}

.allocation.project-two {
    background-color: rgb(255, 154, 60);
}

.allocation.project-three {
    background-color: rgb(212, 80, 76);
}

.allocation:hover {
    opacity: .95;
}

.allocation:hover .allocation_handle,
.allocation:hover .allocation_actions {
    opacity: .7;
}

.allocation .allocation_handle:hover,
.allocation .allocation_actions:hover {
    opacity: 1;
}

.allocation.is-selected {
    opacity: 1;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, .4);
}

.allocation.project-one:hover {
    background-color: rgba(75, 202, 129, 1);
}

.allocation.project-two:hover {
    background-color: rgba(255, 154, 60, 1);
}

.allocation.project-three:hover {
    background-color: rgba(212, 80, 76, 1);
}

.allocation.hold {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
}

.allocation.unavailable {
    background-color: rgb(81, 79, 77);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
}
/*** /Allocations ***/

.timeslot {
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    min-height: 65px;
    min-width: 50px;
    cursor: pointer;
    transition: background-color 200ms ease 0s;
}

.timeslot:hover {
    background-color: rgb(232, 232, 232);
}