.resource {
    border: 1px solid #dddbda;
    min-width: 190px;
}

.allocation-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
}

.allocation-container * {
    pointer-events: auto;
}

c-gantt_chart_timeslot {
    width: 100%;
}