/*** Containers ***/
.allocations-container {
    overflow: hidden;
    pointer-events: none;
}

/****** Allocation Actions Menu ******/
.allocations-container ~ .allocation-actions-container .slds-dropdown {
    margin-top: 0;
}
/****** Allocation Actions Menu ******/


/*** Allocations ***/
.allocation {
    background-color: rgba(21, 137, 238);
    border-radius: .25rem;
    color: rgb(255, 255, 255);
    cursor: grab; 
    opacity: .85;
    padding: .25rem;
    pointer-events: auto;
    text-align: center;
    text-overflow: ellipsis;
    top: 0px;
}

.allocation:hover {
    opacity: .95;
}

/****** Allocation Status ******/
.allocation.hold {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
}

.allocation.unavailable {
    background-color: rgb(81, 79, 77);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
}
/****** /Allocation Status ******/

/****** Allocation Efforts ******/
.allocation.low-effort {
    opacity: 0.6;
}

.allocation.medium-effort {
    opacity: 0.75;
}

.allocation.high-effort {
    opacity: 0.85;
}
/****** /Allocation Efforts ******/

.allocation .allocation_actions,
.allocation .allocation_handle {
    opacity: 0;
}

.allocation .allocation_handle {
    cursor: ew-resize;
}

.allocation:hover .allocation_handle,
.allocation:hover .allocation_actions {
    opacity: .7;
}

.allocation .allocation_handle:hover,
.allocation .allocation_actions:hover {
    opacity: 1;
}

.allocation .slds-icon_container {
    margin-bottom: 1px;
}

.allocation.is-selected {
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, .4);
    opacity: 1;
}
/*** /Allocations ***/



/*** Resource ***/
.resource {
    border-bottom: 1px solid #dddbda;
    border-left: 1px solid #dddbda;
    border-top: 1px solid #dddbda;
    min-width: 190px;
}
/*** /Resource ***/


/*** Day View Timeslots ***/
.timeslot {
    border-bottom: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    border-top: 1px solid #dddbda;
    cursor: pointer;
    min-width: 50px;
    transition: background-color 200ms ease 0s;
}

.timeslot:first-child {
    border-left: 3px solid #dddbda;
}

.timeslot:nth-child(7n) {
    border-right: 3px solid #dddbda;
}

.timeslot:hover {
    background-color: rgb(232, 232, 232);
}

.timeslot.today {
    background: rgba(21, 137, 238, 0.1);
}

.timeslot.today:hover {
    background: rgba(21, 137, 238, 0.2);
}
/*** Day View Timeslots ***/



.timeslots-container {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}