.timeslot {
    border-top: 1px solid #dddbda;
    border-bottom: 1px solid #dddbda;
    border-left: 1px solid #dddbda;
    height: 100%;
    width: 50px;
    cursor: pointer;
    transition: background-color 200ms ease 0s;
}

.timeslot:hover {
    background-color: rgb(232, 232, 232);
}

:host(:last-child) .timeslot {
    border-right: 1px solid #dddbda;
}