.gantt-datepicker {
    display: inline-block;
}

.timeline > .slds-col:first-child {
    min-width: 190px;
}

.timeline_day {
    min-width: 50px;
    text-align: center;
}

.timeline_day.today {
    background: rgba(21, 137, 238, 0.1);
    border-top: 3px solid #1589ee;
}

.timeline_month {
    border-radius: .25rem;
}